 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Security</h2>
	<i class="fa fa-lock"> </i>  
    <p>Pentesting web, Application,web Scanners(Openvas, Acunetix, Nessus), Antivirus (Mcafee), Firewall</p>
    </div>
    <div class="tech">
      <h2>Data analytics</h2>
	<i class="fa fa-chart-bar"> </i>  
      <p>Machine Learning, Natural Language Processing, Data Mining</p>
    </div>
    <div class="tech">
      <h2>Web deveploment</h2>
      <i class="fa fa-laptop-code"> </i>  
      <p>FullStack Web, Web Frameworks (Symfony, Laravel, Django), Database Managment (Mysql,mongodb,Cassandra,postgresql).</p>
    </div>
</div>
