<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/openvas.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> OpenVas PHP Middleware </h3>
    <ul>
      <li>Description</li>
    </ul>
    <p>A middleware between a PHP application and Openvas Manager Protocol.</p>
    <a class="project-link" href="https://github.com/gcarrilao/OpenvasManagerPHP">Check it out</a>
  </div>
</div>
